@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease;
}

/* Reservas */

.inicio-reservas{
    background-image: url('./images/galeria-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100vh;
}
.texto-inicio-reservas h1{
    margin-top: 50px;
    width: 80%;
    font-size: 46px;
    font-weight: 400;
}
.texto-inicio-reservas h4{
    margin-top: 50px;
    width: 80%;
    margin-top: 20px;
    font-weight: 300;
}
#formulario-reservas{
    margin-bottom: 100px;
}

/* Anclas de navbar */
#galeria, #servicios, #contacto {
    scroll-margin-top: 150px;
}
#habitaciones{
    scroll-margin-top: 50px;
}


/* Navbar */
.logo-navbar {
    width: 90px;
    height: 90px;
    margin-left: 40px;
    user-select: none;
}

.navbar {
    position: sticky !important;
    top: 0;
    z-index: 999;
    border-bottom: 2px solid rgb(136, 136, 136);
}

.navbar .nav-item a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.navbar .nav-item {
    margin-right: 30px;
}

.navbar-nav {
    justify-content: center;
    align-items: center;
}

.nav-item button{
    border: none !important;
    margin-right: 50px;
}

.nav-item button:focus {
    outline: none;
    box-shadow: none !important;
}

/* Inicio */
.container-inicio {
    background-image: url('./images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: calc(100vh - 110px);
}

.texto-inicio h1 {
    font-size: 76px;
    font-weight: 400;
}

.texto-inicio h4 {
    margin-top: 20px;
    font-weight: 300;
}

.texto-inicio button {
    margin-top: 30px;
    width: 130px;
    height: 50px;
    font-size: 20px;
}
.boton-reserva a{
    color: white;
    text-decoration: none;
}

/* Reservas habitaciones */
.container-hab {
    padding: 30px;
}

.card {
    border: 1px solid black !important;
}

.card img {
    user-select: none;
}

.cards {
    display: flex;
    margin-top: 70px;
    gap: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.precio-reserva {
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.precio-reserva a {
    width: 100%;
}

/* Galeria */

.carousel {
    user-select: none;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}
.carrusel-titulo{
    margin-top: 100px;
}

/* Servicios */

.titulo-servicios{
    margin-top: 100px;
    margin-bottom: 70px;
}

/* Contacto */

.formulario {
    border: 1px solid rgb(163, 163, 163);
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-top: 10px;
}

.info {
    margin-bottom: 150px;
}

.redes a {
    margin-right: 10px;
}

/* Footer */
footer {
    background-color: rgba(19, 19, 19, 0.7) !important;
}

.logo-footer {
    width: 100px;
    height: 100px;
    user-select: none;
    margin-left: 20px;
}

#btnVolverArriba {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
}

#btnVolverArriba:hover {
    background-color: #333;
}


@media (max-width: 991px) {
    .navbar-nav {
        align-items: start;

    }
    .nav-item{
        margin-top: 20px;
        margin-left: 20px;
    }
    .navbar-toggler {
        border: none !important;
        margin-right: 50px;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none !important;
    }
    .cards {
        flex-direction: column;
    }
    .card{
        width: 80%;
        margin: 0 auto;
    }
    .carousel {
        user-select: none;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    #formulario{
        margin-top: 50px;
        width: 70%;
    }
    .titulo-servicios{
        margin-top: 150px;
    }

    /* Reservas */

    .ul-reserva li{
        margin: 0 auto;
    }
    #formulario-reservas{
        margin: 0 auto;
    }
}

@media (max-width: 767px){

    .texto-inicio-reservas {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .texto-inicio-reservas h1 {
        font-size: 24px;
        font-weight: 600;
        margin: 0 auto;
        width: 100%;
    }

    .texto-inicio-reservas h4 {
        font-size: 16px;
        font-weight: 500;
        margin: 0 auto;
        width: 100%;
    }

    .inicio-reservas{
        max-width: 100vh !important;
    }
    
    .formulario{
        width: 90% !important;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .btn-success{
        margin-top: 0px;
    }
    .redes{
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media (max-width: 390px){

    .formulario{
        width: 100%;
    }
    .mapa{
        width: 70%;
    }
}
