@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}
.container-inicio{
    background-image: url('./images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: left;
    height: calc(100vh - 115px); 
}
.navbar{
    background-color: #181a27 !important;
    position: sticky !important;
    top: 0;
    z-index: 999;
    border-bottom: 2px solid gray;
}
.logo-navbar{
    width: 90px;
    height: 90px;
    margin-left: 40px;
    user-select: none;
}
.navbar .nav-item a{
    color: #d9d9d9;
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
}
.nav-item a:hover{
    color: white;
}
.texto-inicio{
    margin-top: 300px;
}
.texto-inicio h1{
    font-size: 76px;
    font-weight: 400;
}
.texto-inicio h4{
    margin-top: 20px;
    font-weight: 300;
}
.texto-inicio button{
    margin-top: 30px;
    width: 130px;
    height: 50px;
    font-size: 20px;
}
.container-hab{
    background-color: #ffff;
    min-height: 100vh;
    padding: 30px;
}
.card{
    border: 1px solid black !important;
    user-select: none;
}
.cards{
    display: flex;
    margin-top: 70px;
    gap: 20px;
}
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}
.precio-reserva {
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.precio-reserva a{
    width: 100%;
}
.info{
    background-color: #ececec;
    min-height: 100vh;
}
.galeria{
    background-color: #ececec;
}
.carousel{
    user-select: none;
    width: 100%;
}
.texto-carrusel{
    border: 1px solid #ececec;
    margin-top: 20px;
}
footer{
    background-color: rgba(19, 19, 19, 0.7) !important;
}
.logo-footer{
    width: 100px;
    height: 100px;
    user-select: none;
}
hr{
    width: 50%;
}
.container {
    border-top: 1px solid transparent;
}
  



@media (max-width: 991px){
    .cards{
        flex-direction: column;
    }
    .card{
        margin-top: 15px;
    }
    .navbar-toggler{
        border: none !important;
        margin-right: 50px;
    }
    .navbar-toggler:focus{
        outline: none;
        box-shadow: none;
    }
    .nav-item{
        margin-left: 50px;
        margin-top: 20px;
    }
    .navbar-nav{
        margin-bottom: 20px !important;
    }
    .mapa{
        margin-bottom: 50px;
    }
}

@media (max-width: 770px){
    .redes{
        margin-top: 20px;
    }
}